{% extends '/email/email-body.html.twig' %}

{% block content %}
    <div class="container">
        <h3>A {{ meeting.type }} meeting has been canceled</h3>
        <hr/>
        <p>The {{ meeting.type }} meeting ({{ meeting.description }}) for the <i>{{meeting.projectTitle}}</i> project, which was scheduled at <strong>{{meeting.scheduledAt}}</strong> has been canceled. Check out the project's meetings calendar!</p>
        <br/>

        <p>The Steacop Team</p>
    </div>
{% endblock %}